{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Kvadovi d.o.o.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href={{url_for('render_korisnici')}}>Korisnici <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href={{url_for('render_vozila')}}>Vozila</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href={{url_for('loginForma')}} class="btn btn-primary">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </form>
    </div>
  </nav>

  <div class="container">
    <div class="col my-5 justify-content-end">
        <a href={{ url_for('korisnik_novi') }} role="button" class="btn btn-primary">
            Dodaj korisnika
        </a>
      </div>
      <div class="col my-5 justify-content-end">
        <form action={{ url_for('korisnik_pretraga') }} method="POST">
          <div class="form-group">
              <label for="ime">Ime</label>
              <input type="text" class="form-control" name="ime"  >
          </div>
          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" class="form-control" name="prezime"  >
        </div>
        <div class="form-group">
          <label for="jmbg">JMBG</label>
          <input type="text" class="form-control" name="jmbg"  >
      </div>
          <input type="submit" value="Pretrazi Korisnika" class="btn btn-primary">
          </form>
      </div>
      
    
    
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Ime</th>
                <th scope="col">Srednje ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Email</th>
                <th scope="col">Rola</th>
                <th scope="col">JMBG</th>
                <th scope="col">Broj Licne</th>
                <th scope="col">Kredit</th>
                <th scope="col">Id kvada</th>
              </tr>
            </thead>
            <tbody>
              {% for korisnik in korisnici %}
              <tr>
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.srednje_ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td>{{korisnik.email}}</td>
                <td>{{korisnik.rola}}</td>
                <td>{{korisnik.jmbg}}</td>
                <td>{{korisnik.broj_licne_karte}}</td>
                <td>{{korisnik.kredit}}</td>
                <td>{{korisnik.trenutniKorisnik}}</td>
                <td class="row">
                    <a href={{ url_for('korisnik_izmena', id=korisnik.id) }} role="button" class="text-warning mx-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href={{ url_for('render_istorija', id=korisnik.id) }} role="button" class="text-warning mx-3">
                      <i class="fa-solid fa-bars"></i>
                    </a>
                    <form action={{ url_for("korisnik_brisanje", id=korisnik.id) }} method="POST" class="text-danger mx-1">
                      <button class="text-danger mx-1">
                        <i class="fas fa-trash"></i>
                      </button>
                      </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
{% endblock %}